#footer {
    color: white;
    background-color: #005082;
    position: absolute;
    bottom: 0;
    height: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

#copyright {
    font-size: small;
    font-family: 'Alata', sans-serif;
    margin: auto;
}

.footerLink {
    color: white;
}

.footerLink:hover {
    text-decoration: none;
    color: white;
}
