@import url('https://fonts.googleapis.com/css?family=Teko:500');

.nav-wrapper {
      height:auto;
      width:100%;
      left:0px;
      top:0px;
      background-color:#740d1b;

/*       height:20%;
      width:100%;
      left:0px;
      top:0px;
      background-color:#0e1015; */

      position:fixed;
      border-bottom:1vmin solid #a58e25;
}

#title {
      color: rgb(47, 75, 134);

}

.nav-wrapper h1 {
      font-size:12vmin;
      color: #a58e25;
      font-family: 'Tahoma';
      font-weight:100;
      border-right:1vmin solid #a58e25;
      display:inline-block;
      padding-right:6vmin;
      padding-left:1vmin;
      top:-5vmin;
      left: 5%;
      padding-top:1vmin;
      padding-bottom:0vmin;
      position:relative;
}


#links {
      color: rgb(67, 93, 151);
      font-size: 16px;
      -webkit-text-stroke: 0.2px black;
}

#app-logo {
      font-family: 'Bangers', 'Comic-Neue', cursive;
      padding-left: 2%;
      margin: 0;
      -webkit-text-stroke: 0.2px black;
}

#nav-mobile.hangar {
      position:relative;
      display:inline-block;
      left: 50%;
      top: -15%;
      border:0.01vmin solid #a58e25;
      font-family: Teko;
      font-size:3vmin;
      margin-right:1vmin;
      text-decoration:none;
      color:#a58e25;
      width:10%;
      text-align:center;
      padding-top:2vmin;
      padding-bottom:2vmin;
      text-transform:uppercase;
      
      -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}


#nav-mobile.hangar:hover
{
      background-color:RGBA(000,000,000,0.5);
      -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.navbar-brand {
      font-family: 'Bangers', 'Comic-Neue' cursive;
      -webkit-text-stroke: 0.2px black;
}
