.body {
    background: linear-gradient(-45deg, #740d1b, #941f1f, #d66b23, #ddda1b);
    background-size: auto;
    min-height: max-content;
    animation: gradient 15s ease infinite;
    /* padding-top: 15%; */
    
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#search-type {
    color: rgb(16, 36, 82);
    font-weight: 400;
    
}



