#title {
    color: rgb(219, 210, 219);
    font-family: 'Bangers', cursive;
     font-weight: normal 700;
     -webkit-text-stroke: 0.2px black;
}



#title {
  animation-duration: 3s;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


h3 {
    color: rgb(219, 210, 219);
      font-weight:500;
      -webkit-text-stroke: 0.2px black;

  
}

h3 {
  animation-duration: 5s;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}




#content-wrap {
    background: linear-gradient(-45deg, #ddda1b, #d66b23,  #941f1f, #740d1b );
    background-size: 400% 400%;
    min-height: max-content;
    animation: gradient 15s ease infinite;
    /* padding-top: 15%; */
    
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

  
}



#btn {
	background-color:rgb(25, 53, 119);	
}

#btn:hover {
	background-color: goldenrod;
}

#options {
color:rgb(219, 210, 219);
-webkit-text-stroke: 0.2px black;
}

