.h1 {
  font-family: "Bangers", sans-serif;
  color: dkgrey;
}
.h1 {
  font-family: "Bangers";
  margin: 0 0 -1em 0;
  text-shadow: -1px -1px yellow, 1px 1px orange,  2px 2px orange;
  -webkit-transform: rotate(-10deg) skew(-10deg, 0);
  -moz-transform: rotate(-10deg) skew(-10deg, 0);
  -ms-transform: rotate(-10deg) skew(-10deg, 0);
  -o-transform: rotate(-10deg) skew(-10deg, 0);
  transform: rotate(-10deg) skew(-10deg, 0);
  padding-bottom: 50px;
  float: left;
  width: 100%;
}

.h1 {
  font-size: 150px;
  margin-bottom: -.75em;
}
