#title {
    color: rgb(219, 210, 219);
    font-family: 'Teko';
     font-weight: normal 700;
     text-shadow: rgb(219, 210, 219);
}

h3 {
    color: rgb(219, 210, 219);
      font-weight:500;
}




#content-wrap {
    background: linear-gradient(-45deg, #ddda1b, #d66b23,  #941f1f, #740d1b );
    background-size: 400% 400%;
    min-height: max-content;
    animation: gradient 15s ease infinite;
    /* padding-top: 15%; */
    
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

  
}



#btn {
	background-color:rgb(50, 75, 133);	
}

#btn:hover {
	background-color: goldenrod;
}

#options {
color:rgb(219, 210, 219);
}

