form.form-inline {
    top: 40%;
    width: 960px;
    height: fit-content;
}

#searchTerm {
    color: black;
    font-weight: bold;
}

#btn-text {
    color: rgb(30, 54, 105);
    background: goldenrod;
}

